body {

	height: 100%
	width: height;
}
div {

}
.padBtn {

	margin: 2px;
	width: 55px;
	height: 55px;
	text-align: center;
	font-size: 40px;

}
input {
	width: 375px;
	height:75px;
	font-size: 50px;
	margin: 10px;
	text-align: right;
}
